<div class="container">
    <h1>List of books</h1>
    <table class="table table-striped" id ="bookList">
      <thead>
          <tr>
                  <th>ISBN</th>
                  <th>Book Name</th>
                  <th>Author</th>
                  <th>Book Type</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of books">
          <td>{{ b.id }}</td>
          <td>{{ b.bookName }}</td>
          <td>{{ b.author }}</td>
          <td>{{ b.type }}</td>
        </tr>
      </tbody>
    </table>
  </div>